<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.ac.umn.shoebox">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permisson.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permisson.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permisson.STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera2.full"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/shoebox_ic"
        android:label=""
        android:roundIcon="@mipmap/shoebox_ic_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignUpActivity" />
        <activity
            android:name=".BuktiUploadActivity"
            android:label="@string/title_activity_bukti_upload" />
        <activity
            android:name=".DetailActivity"
            android:label="@string/title_activity_detail" />
        <activity android:name=".RatingActivity" />
        <activity
            android:name=".ListOrderActivity"
            android:label="List Order Service" />
        <activity
            android:name=".DetailOrderActivity"
            android:label="Detail Order" />
        <activity android:name=".UtamaActivity" />

        <!-- Firebase instance ID service untuk mendapatkan token -->
        <service android:name=".FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- firebase instance untuk handle push notification -->
        <service android:name=".FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".HelpDetailActivity" />
        <activity android:name=".ExpendableActivity"></activity>
    </application>

</manifest>